<template>
  <header class="main-header dark">
    <Logo class="logo" />
    <Nav class="nav" />
    <label for="circle" tabindex="-1" class="circle">
      <input type="color" id="circle" @input="colorInput($event)" />
      <button v-if="isColorStored" @click="resetColor">✖︎</button>
    </label>
  </header>
</template>

<script>
import Logo from "./Logo";
import Nav from "./Nav";
import { colorChange, resetColor } from "~/assets/work";
export default {
  name: "Header",
  components: {
    Logo,
    Nav
  },
  data() {
    return {
      isColorStored: false
    };
  },
  methods: {
    colorInput: function(event) {
      colorChange(event.target.value);
      this.isColorStored = true;
    },
    resetColor: function() {
      resetColor();
      this.isColorStored = false;
    },
    colorStoredCheck: function() {
      const color = localStorage.getItem("color");
      this.isColorStored = Boolean(JSON.parse(color));
    }
  },
  mounted() {
    this.colorStoredCheck();
  }
};
</script>

<style scoped>
.main-header {
  display: grid;
  height: 100vh;
  background-color: var(--background-dark);
  grid-template-rows: auto 1fr auto;
}

.circle {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--header-circle);
  border: 2px solid var(--header-border);
  margin: 20px;
  position: relative;
}

.circle:hover {
  cursor: pointer;
}

.circle input {
  position: absolute;
  left: -999px;
}

.circle button {
  position: absolute;
  right: -65px;
  font-size: 3em;
  border: 0;
  color: var(--font-light);
  background: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .main-header {
    display: block;
    height: 75px;
    padding: 0;
    min-width: 100%;
  }

  .circle,
  .nav {
    display: none;
  }
}
</style>
