<template>
  <div class="loading-screen">
    <div class="loader-container">
      <svg class="glow-loader" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;">
        <defs>
          <!-- Glow Filter -->
          <filter id="glow1">
            <fegaussianblur result="coloredBlur" ref="glow" stdDeviation=".75"></fegaussianblur>
            <femerge>
              <femergenode in="coloredBlur"></femergenode>
              <femergenode in="coloredBlur"></femergenode>
              <femergenode in="coloredBlur"></femergenode>
              <femergenode in="SourceGraphic"></femergenode>
            </femerge>
          </filter>
        </defs>
            <g opacity="0.155797">
              <path ref="monoCirclePath" d="M115.123,275.097c-69.043,-16.214 -111.934,-85.432 -95.72,-154.474c16.214,-69.043 85.432,-111.934 154.474,-95.72c69.043,16.214 111.934,85.432 95.72,154.474c-16.214,69.043 -85.432,111.934 -154.474,95.72Z" style="fill:none;stroke:var(--background-light);stroke-width:2.5px;"/>
              <path ref="monoShapePath" d="M114.468,274.5c36.736,-12.508 70.593,-32.518 99.511,-58.812c29.268,-26.811 76.328,-69.897 69.319,-121.633c-6.008,-42.222 -46.213,-78.625 -64.39,-71.706c-19.64,7.862 4.159,61.642 -25.725,119.51c-23.568,45.524 -77.867,88.375 -112.373,72.886c-29.499,-13.052 -46.905,-69.112 -24.877,-99.147c16.944,-23.194 50.833,-21.936 61.154,-21.543c24.878,0.944 58.767,12.187 59.537,27.519c0.539,13.445 -24.108,29.091 -59.537,37.426" style="fill:none;stroke:var(--background-light);stroke-width:2.5px;"/>
              </g>
            <g id="dmcl1" serif:id="dmcl">
              <path id="Oval1" class="loading-circle" ref="colorCirclePath" serif:id="Oval" d="M115.123,275.097c-69.043,-16.214 -111.934,-85.432 -95.72,-154.474c16.214,-69.043 85.432,-111.934 154.474,-95.72c69.043,16.214 111.934,85.432 95.72,154.474c-16.214,69.043 -85.432,111.934 -154.474,95.72Z" style="fill:none;stroke:var(--background-light);stroke-width:2.5px;"/>
              <path id="Shape1" class="loading-shape" ref="colorShapePath" serif:id="Shape" d="M114.468,274.5c36.736,-12.508 70.593,-32.518 99.511,-58.812c29.268,-26.811 76.328,-69.897 69.319,-121.633c-6.008,-42.222 -46.213,-78.625 -64.39,-71.706c-19.64,7.862 4.159,61.642 -25.725,119.51c-23.568,45.524 -77.867,88.375 -112.373,72.886c-29.499,-13.052 -46.905,-69.112 -24.877,-99.147c16.944,-23.194 50.833,-21.936 61.154,-21.543c24.878,0.944 58.767,12.187 59.537,27.519c0.539,13.445 -24.108,29.091 -59.537,37.426" style="fill:none;stroke:var(--background-light);stroke-width:2.5px;"/>
          </g>
      </svg>
    </div>
    <h1 ref="loadingText" class="loading-text">Loading</h1>
  </div>
</template>

<script>
import anime from "animejs";
import { getStoredColor } from "~/assets/work";
export default {
  component: "loader",
  data() {
    return {
      animateColor: false
    };
  },
  mounted() {
    getStoredColor();
    if (!this.enableLoading()) {
      this.$emit("loadingComplete");
    } else {
      const {
        colorShapePath,
        colorCirclePath,
        monoShapePath,
        monoCirclePath,
        loadingText
      } = this.$refs;

      this.fadeText(loadingText, "reverse");
      this.drawSvgPath(colorCirclePath, "easeInExpo")
        .finished.then(
          () => this.drawSvgPath(colorShapePath, "easeOutExpo").finished
        )
        .then(() => this.animateGlow().finished)
        .then(() => {
          this.fadeText(loadingText);
          this.drawSvgPath(colorShapePath, "easeInExpo", "reverse");
          return this.drawSvgPath(monoShapePath, "easeInExpo", "reverse")
            .finished;
        })
        .then(() => {
          this.drawSvgPath(colorCirclePath, "easeOutExpo", "reverse", 1000);
          return this.drawSvgPath(
            monoCirclePath,
            "easeOutExpo",
            "reverse",
            1000
          ).finished;
        })
        .then(() => {
          const object = { timestamp: new Date().getTime() };
          localStorage.setItem("siteLoaded", JSON.stringify(object));
          this.$emit("loadingComplete");
        });
    }
  },
  methods: {
    enableLoading: () => {
      const now = new Date().getTime();
      const object = JSON.parse(localStorage.getItem("siteLoaded"));
      const dateLoaded = object ? object.timestamp : false;
      const willLoad =
        !Boolean(dateLoaded) && Math.floor((now - dateLoaded) / 60000) > 30;
      return willLoad;
    },
    drawSvgPath: (
      el,
      easing = "easeOutExpo",
      direction = "forwards",
      duration = 1500
    ) => {
      el.style.opacity = 1;
      const animationProperty = [anime.setDashoffset, 0];
      const animationDirection =
        direction === "reverse"
          ? animationProperty.reverse()
          : animationProperty;

      return anime({
        targets: el,
        strokeDashoffset: animationDirection,
        easing,
        duration
      });
    },
    animateGlow: function() {
      return anime({
        targets: this.$refs.glow,
        stdDeviation: 7,
        duration: 1500,
        elasticity: 500
      });
    },
    fadeSvg: el =>
      anime({
        targets: el,
        opacity: [0, 1],
        duration: 500
      }),
    fadeText: (el, direction = "forwards") =>
      anime({
        targets: el,
        opacity: direction === "forwards" ? [1, 0] : [0, 1],
        translateY: direction === "forwards" ? [0, 50] : [50, 0],
        easing: "easeInQuad",
        duration: 500,
        delay: 250
      })
  }
};
</script>

<style>
.loading-screen-container {
  background-color: red;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.loading-screen {
  background: var(--background-dark);
  height: 100%;
  width: 100vw;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.loading-text {
  color: var(--font-light);
  opacity: 0;
  font-weight: 300;
  text-align: center;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.loader-container {
  position: relative;
  padding-bottom: 2em;
}

.loader-container svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
}
.glow-loader {
  height: auto;
  width: 100%;
  max-width: 300px;
  display: block;
}

.loading-circle,
.loading-shape {
  stroke-linecap: round;
  stroke-linejoin: bevel;
  filter: url(#glow1);
  opacity: 0;
}

.animate-color {
  animation: tronFilter 12s infinite;
}

@keyframes tronFilter {
  0% {
    filter: drop-shadow(-0.75px 0px 6px #31eefd);
    stroke: #31eefd;
  }
  22% {
    filter: drop-shadow(-0.75px 0px 6px #1d85bb);
    stroke: #1d85bb;
  }
  /* end blue */
  42% {
    filter: drop-shadow(-0.75px 0px 6px #884173);
    stroke: #884173;
  }
  62% {
    filter: drop-shadow(-0.75px 0px 6px #ff0071);
    stroke: #ff0071;
  }
  /* end magenta */
  82% {
    filter: drop-shadow(-0.75px 0px 6px #009997);
    stroke: #009997;
  }
  92% {
    filter: drop-shadow(-0.75px 0px 6px #92ffd7);
    stroke: #92ffd7;
  }
  /* end green */
  100% {
    filter: drop-shadow(-0.75px 0px 6px #31eefd);
    stroke: #31eefd;
  }
}
</style>
