<template>
  <nuxt-link class="logo" to="/">
      <svg :viewBox="viewBox" @mouseover="animateGlow($event, 4)" @mouseleave="animateGlow" :opacity="opacity" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;">
        <defs>
          <!-- Glow Filter -->
        <filter id="glow">
          <feGaussianBlur result="coloredBlur" stdDeviation=".5"></feGaussianBlur>
          <feMerge>
            <feMergeNode in="coloredBlur"></feMergeNode>
            <feMergeNode in="coloredBlur"></feMergeNode>
            <feMergeNode in="coloredBlur"></feMergeNode>
            <feMergeNode in="SourceGraphic"></feMergeNode>
          </feMerge>
        </filter>
        </defs>
            <g filter="url(#glow)">
              <path id="Oval1" serif:id="Oval" d="M115.123,275.097c-69.043,-16.214 -111.934,-85.432 -95.72,-154.474c16.214,-69.043 85.432,-111.934 154.474,-95.72c69.043,16.214 111.934,85.432 95.72,154.474c-16.214,69.043 -85.432,111.934 -154.474,95.72Z" style="fill:none;stroke:var(--font-light);stroke-width:2.5px;"/>
              <path id="Shape1" serif:id="Shape" d="M114.468,274.5c36.736,-12.508 70.593,-32.518 99.511,-58.812c29.268,-26.811 76.328,-69.897 69.319,-121.633c-6.008,-42.222 -46.213,-78.625 -64.39,-71.706c-19.64,7.862 4.159,61.642 -25.725,119.51c-23.568,45.524 -77.867,88.375 -112.373,72.886c-29.499,-13.052 -46.905,-69.112 -24.877,-99.147c16.944,-23.194 50.833,-21.936 61.154,-21.543c24.878,0.944 58.767,12.187 59.537,27.519c0.539,13.445 -24.108,29.091 -59.537,37.426" style="fill:none;stroke:var(--font-light);stroke-width:2.5px;"/>
          </g>
          <text filter="url(#glow)" :x="textPosition.x" :y="textPosition.y" font-family="Roboto Mono" font-weigh="400" :font-size="fontSize" fill="var(--font-light)">DM_CREATIVE_LAB</text>
      </svg>
  </nuxt-link>
</template>

<script>
import anime from "animejs";
export default {
  name: "Logo",
  data() {
    return {
      animateColor: false,
      fontSize: 30,
      viewBox: [0, 0, 295, 327].join(" "),
      textPosition: {
        x: 0,
        y: 317
      },
      opacity: 0
    };
  },
  mounted() {
    this.resizeSVG();
    this.opacity = 1;
    window.addEventListener("resize", this.resizeSVG);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.resizeSVG);
  },
  methods: {
    animateGlow: function(event, glowLevel = 0.5) {
      const target = event.target.querySelector("feGaussianBlur");
      anime.remove(target);
      return anime({
        targets: target,
        stdDeviation: glowLevel,
        easing: "easeInOutQuart"
      });
    },
    resizeSVG: function() {
      const isMobile = window.matchMedia("(max-width: 800px)").matches;
      if (isMobile) {
        this.viewBox = [0, 0, 780, 300].join(" ");
        this.fontSize = 50;
        this.textPosition = {
          x: 325,
          y: 170
        };
      } else {
        this.viewBox = [0, 0, 300, 350].join(" ");
        this.fontSize = 30;
        this.textPosition = {
          x: 0,
          y: 327
        };
      }
    }
  }
};
</script>

<style scoped>
.logo {
  width: auto;
  height: 100%;
  margin: 0 auto 0 0;
}
.logo svg {
  display: block;
  width: 100%;
  max-width: 180px;
  height: 100%;
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  .logo {
    display: inline-block;
  }

  .logo svg {
    width: auto;
    padding: 10px;
  }
}
</style>
