<template>
  <nav class="main-nav dark" role="navigation">
    <ul class="strikethru-ul">
      <li v-for="link in sidebarLinks" :key="link.href">
        <nuxt-link :to="link.href">
          {{ link.title }}
        </nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "Nav",
  data() {
    return {
      sidebarLinks: [
        { title: "info", href: "/info" },
        { title: "work", href: "/work" },
        { title: "project_365", href: "/365" }
      ]
    };
  }
};
</script>

<style scoped>
li:not(:first-child) {
  padding-top: 1.5em;
}

.main-nav {
  padding: 20px;
  align-self: center;
}
</style>
