<template>
  <div class="table-container">
    <div class="page-header">
      <h1 class="strikethru-title" id="workTitle">&nbsp;</h1>
      <slot name="heading"></slot>
      <nuxt-link v-if="showBackLink" :to="backHref" @click.native="changeTitle">Back</nuxt-link>
    </div>
    <slot />
  </div>
</template>

<script>
import { changeTextAnimation } from "~/assets/work";
export default {
  name: "TableContainer",
  props: {
    title: String,
    showBackLink: {
      type: Boolean,
      default: function() {
        return false;
      }
    },
    backHref: {
      type: String,
      default: function() {
        return "/";
      }
    }
  },
  methods: {
    changeTitle: function() {
      changeTextAnimation("#workTitle", this.title);
    }
  },
  mounted() {
    this.changeTitle();
  }
};
</script>

<style>
</style>
