
<template>
  <nuxt-link :to="{ name: 'work-slug', params: { slug: work.uid } }" tag="tr" tabindex="0" class="work-table-row">
    <td>{{ work.client }}</td>
    <td>{{ work.actions }}</td>
    <td>{{ work.date }}</td>
    <td>
      <Arrow class="table-arrow" />
    </td>
  </nuxt-link>
</template>

<script>
import Arrow from "./Arrow";
export default {
  name: "TableRow",
  components: {
    Arrow
  },
  props: {
    work: Object,
    default: function() {
      return {
        client: String,
        actions: String,
        date: String
      };
    }
  }
};
</script>
  <style scoped>
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .work-table-row {
    position: relative;
  }
  .work-table-row td:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 0;
  }
  .work-table-row td:nth-child(2) {
    font-size: 0.8em;
  }
}
</style>
