html {
  font-family: "Roboto Mono", Roboto, "Source Sans Pro", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-weight: 300;
  color: var(--background-dark);
  letter-spacing: 1px;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background-dark);
}

.container {
  background-color: var(--background-dark);
  overflow: auto;
}

.container.light {
  background-color: var(--background-light);
}

.container.dark {
  background-color: var(--background-dark);
}

.strikethru-ul {
  list-style-type: none;
  padding: 0;
}

.light .strikethru-ul a,
.light .strikethru-ul li {
  color: var(--font-dark);
}

.dark .strikethru-ul a,
.dark .strikethru-ul li {
  color: var(--font-light);
}

.strikethru-ul li a {
  display: inline-block;
  position: relative;
  padding: 0 5px;
  text-decoration: none;
  overflow: hidden;
}

.strikethru-ul li a:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: transform 0.5s ease-out;
}

.light .strikethru-ul li a:before {
  border: 1px solid var(--font-dark);
}

.dark .strikethru-ul li a:before {
  border: 1px solid var(--font-light);
}

.strikethru-ul a:hover:before,
.strikethru-ul a:active:before,
.strikethru-ul a:active:before,
.strikethru-ul .nuxt-link-active:before,
.strikethru-ul a:focus:before {
  transform: translate(200%, -50%);
}

.strikethru-title {
  position: relative;
  padding: 0 5px;
  display: inline-block;
}

.light .strikethru-title {
  color: var(--font-dark);
}

.dark .strikethru-title {
  color: var(--font-light);
}

.strikethru-title:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.light .strikethru-title:before {
  border: 1px solid var(--font-dark);
}

.dark .strikethru-title:before {
  border: 1px solid var(--font-light);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

.light .page-header {
  border-bottom: 1px solid var(--table-border-dark);
}

.dark .page-header {
  border-bottom: 1px solid var(--table-border-light);
}

.page-header .strikethru-title {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4em;
}

.table-container {
  margin: 0 auto;
  max-width: 2000px;
  padding: 0 3vw;
  width: 100%;
}

.VueCarousel-navigation button {
  color: var(--font-dark) !important;
}

.VueCarousel-pagination .VueCarousel-dot.VueCarousel-dot--active button {
  background: var(--font-dark) !important;
  opacity: 1;
}

.VueCarousel-pagination .VueCarousel-dot button {
  background: var(--font-dark) !important;
  opacity: 0.6;
}
