table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
th {
  padding: 10px 16px 10px 16px;
}
td {
  padding: 10px 18px 10px 14px;
  color: var(--font-dark);
  font-weight: 400;
}
td:last-child,
th:last-child {
  width: 68px;
  text-align: center;
}
thead th {
  border-color: var(--table-border-dark);
  border-style: solid;
  border-width: 0 1px 1px;
  color: var(--font-highlight);
}
tbody tr {
  border-bottom: 1px solid var(--table-border-dark);
}

.table-arrow {
  display: block;
  transform: translate(0);
  transition: transform 0.25s ease-in-out;
}

.table-arrow svg {
  height: 1em;
  margin: 0 auto;
  display: block;
}

tbody tr:active .table-arrow,
tbody tr:focus .table-arrow,
tbody tr:hover .table-arrow {
  transform: translate(5px, 0);
}

tbody tr:active,
tbody tr:focus,
tbody tr:hover {
  cursor: pointer;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  td:not(:last-child) {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
}
