:root {
  --background-dark: #1d1e23;
  --background-light: #fff;

  --table-border-dark: rgba(29, 30, 35, 0.15);
  --table-border-light: rgba(255, 255, 255, 0.15);

  --font-dark: var(--background-dark);
  --font-light: var(--background-light);
  --font-highlight: #c3a2ff;

  --header-circle: #000;
  --header-border: #000;
}
