<template>
  <transition>
    <div class="work-entry">
      <div class="work-table-container">
        <div class="work-table">
          <div class="client detail">
            <span class="title">client</span>
            {{ work.client }}
          </div>
          <div class="complete detail">
            <span class="title">completed</span>
            {{ work.date }}
          </div>
          <div class="actions detail">
            <span class="title">actions</span>
            {{ work.actions }}
          </div>
          <div class="details detail">
            <span class="title" style="padding-bottom: .5em;display: block;">details</span>
            {{ work.details }}
          </div>
        </div>
      </div>
      <div class="work-images">
        <img v-for="(image, index) in work.images" :src="image.image.url" :alt="image.image.alt" :key="index">
      </div>
    </div>
  </transition>
</template>

<script>
import anime from "animejs";
import { Carousel, Slide } from "vue-carousel";
import { changeTextAnimation } from "~/assets/work";
export default {
  components: {
    Carousel,
    Slide
  },
  computed: {
    work() {
      const workPortfolio = this.$store.state.work.workPortfolio;
      return workPortfolio.find(
        object => object.uid === this.$route.params.slug.toLowerCase()
      );
    }
  },
  data() {
    return {
      showCarousel: false
    };
  },
  mounted() {
    changeTextAnimation("#workTitle", this.work.client.toLowerCase());
    this.showCarousel = this.work.images.length > 1;
  },
  transition: {
    appear: true,
    css: false,
    enter: async function(el, done) {
      const entryAnimation = anime.timeline();
      await entryAnimation
        .add({
          targets: el.querySelector(".work-table-container"),
          translateY: ["-100%", 0],
          easing: "easeOutExpo",
          delay: 250,
          duration: 350
        })
        .add({
          targets: el.querySelector(".work-table"),
          translateX: ["-100%", 0],
          easing: "easeOutExpo",
          duration: 500,
          offset: "+=150"
        })
        .add({
          targets: Array.from(el.querySelectorAll(".detail")),
          opacity: [0, 1],
          translateX: ["-100%", 0],
          easing: "easeOutExpo",
          delay: (el, i) => i * 100,
          duration: 400
        })
        .add({
          targets: el.querySelector(".work-images"),
          translateY: ["100%", 0],
          opacity: [0, 1],
          easing: "easeOutExpo",
          duration: 400,
          complete: done
        });
    },
    leave: function(el, done) {
      anime({
        targets: el,
        translateY: ["0%", "-100%"],
        easing: "easeOutQuad",
        duration: 350,
        complete: done
      });
    }
  },
  async fetch({ store, params }) {
    if (store.state.work.workPortfolio.length) {
      return;
    }
    return { workPortfolio: await store.dispatch("work/GET_WORK_PORTFOLIO") };
  }
};
</script>

<style scoped>
.detail {
  display: absolute;
}
.work-entry {
  margin-top: -1px;
}
.work-table {
  transform: translateX(-100%);
  border-color: var(--table-border-dark);
  border-style: solid;
  border-width: 1px 0px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "client" "complete" "actions" "actions" "details" "details";
}

.work-table:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: var(--table-border-dark);
  height: 100%;
  content: "";
  z-index: 100;
}

.work-table-container {
  position: relative;
  margin-bottom: 2rem;
}

.work-table-container:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: var(--table-border-dark);
  height: 100%;
  content: "";
  z-index: 100;
}

.work-table > div {
  border-color: var(--table-border-dark);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 1em;
  background-color: var(--background-light);
}

.client {
  grid-area: client;
}

.complete {
  border-width: 0 1px 1px 0 !important;
}
.actions {
  grid-area: actions;
  grid-column: 1/-1;
}
.details {
  grid-area: details;
  grid-column: 1/-1;
  border-width: 0 !important;
}

.work-table .title {
  color: var(--font-highlight);
}
.work-images {
  padding-top: 1em;
  max-width: 1200px;
  margin: 0 auto;
}
.work-images img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 2em;
}
</style>
