<template>
  <transition>
    <div id="workTable">
      <table>
        <thead>
          <tr>
            <th>client</th>
            <th>work</th>
            <th>date</th>
            <th><!-- Arrow --></th>
          </tr>
        </thead>
        <tbody>
          <TableRow v-for="work in workPortfolio" :key="work.name" :work="work" />
        </tbody>
      </table>
    </div>
  </transition>
</template>

<script>
import anime from "animejs";
import TableRow from "~/components/work/TableRow";
export default {
  components: {
    TableRow
  },
  transition: {
    enter: function(el, done) {
      anime({
        targets: el,
        translateY: ["-100%", "0%"],
        easing: "easeOutQuad",
        duration: 350,
        complete: done
      });
    },

    leave: function(el, done) {
      const exitAnimation = anime.timeline();
      exitAnimation
        .add({
          targets: el.querySelector(".work-table-container"),
          translateY: ["0%", "-100%"],
          easing: "easeOutQuad",
          duration: 350
        })
        .add({
          targets: el.querySelector(".work-images"),
          translateY: ["0%", "100%"],
          easing: "easeOutQuad",
          duration: 350,
          offset: "-=350",
          complete: done
        });
    }
  },
  computed: {
    workPortfolio() {
      return this.$store.state.work.workPortfolio;
    }
  },
  async fetch({ store, params }) {
    if (store.state.work.workPortfolio.length) {
      return;
    }
    return { workPortfolio: await store.dispatch("work/GET_WORK_PORTFOLIO") };
  }
};
</script>

<style>

</style>
