<template>
  <div class="container">
    <transition name="loader" mode="out-in">
      <Loader v-if="loading" @loadingComplete="loading = false"/>
      <div v-else class="griddle-me-this">
        <Header/>
        <nuxt/>
      </div>
    </transition>
  </div>
</template>

<script>
import Header from "~/components/shared/Header";
import Loader from "~/components/shared/Loader";
export default {
  components: {
    Header,
    Loader
  },
  data() {
    return {
      loading: true
    };
  }
};
</script>

<style>
.griddle-me-this {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: auto;
  height: 100vh;
}

.loader-leave-active {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.loader-leave-to {
  opacity: 0;
}

.main-header {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.loader-enter-active .main-header {
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .griddle-me-this {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
  }
}
</style>
