<template>
  <div class="container light page" id="blog365">
    <table-container title="project_365">
      <template slot="heading">Page {{ currentPage }} of {{ totalPages }}</template>
          <main id="blog365Container">
            <transition
              @before-enter="beforeEnter"
              @enter="enter"
              @leave="leave">
              <div class="grid-365" v-if="!loading">
                <div v-for="(entry, index) in blogEntries" class="entry" :key="entry.uid" :data-index="index">
                  <h5><small><b>{{entry.uid}}</b></small> - {{ numToWord(entry.uid) }}</h5>
                  <a class="image-link" v-if="entry.url" :href="entry.url" rel="noopener noreferrer" target="_blank">
                    <img :src="entry.img.url" :alt="entry.img.alt || 'project_365 post'">
                  </a>
                  <img :src="entry.img.url" v-else :alt="entry.img.alt || 'project_365 post'">
                  <div>
                  <h3>{{ entry.img_cap }}</h3>
                  <a  class="link" v-if="entry.url" :href="entry.url" rel="noopener noreferrer" target="_blank">link&rarr;</a>
                  <br v-else />
                  </div>
                </div>
              </div>
            </transition>
          </main>
          <no-ssr>
            <paginate
              :initial-page="initialPage - 1"
              :page-count="totalPages"
              :click-handler="changePage"
              :container-class="'paginate-365'"/>
          </no-ssr>
      </table-container>
    </div>
</template>

<script>
import anime from "animejs";
import converter from "number-to-words";
import TableContainer from "~/components/shared/Table-Container";
import Paginate from "vuejs-paginate";
export default {
  name: "Project_365",
  components: {
    TableContainer,
    Paginate
  },
  head () {
      return {
        title: "DM_CREATIVE_LAB | Project 365"
      }
  },
  computed: {
    currentPage() {
      return Number(this.$route.query.p) || 1;
    },
    blogEntries() {
      return this.$store.state.blog.blogEntries;
    },
    totalPages() {
      return this.$store.state.blog.totalPosts / 12;
    }
  },
  data() {
    return {
      initialPage: Number(this.$route.query.p) || 1,
      loading: true,
      showPagination: true,
      postsPerPage: 12
    };
  },
  created() {
    this.fetchBlogEntries(this.$store.dispatch, this.initialPage);
    
  },
  mounted() {
    this.loading = false;
  },
  methods: {
    async fetchBlogEntries(dispatch, pageNum = 0) {
      const blogEntries = await dispatch("blog/GET_BLOG_ENTRIES", pageNum);
      return {
        blogEntries
      };
    },
    numToWord(id) {
      try {
        return converter.toWords(id);
      } catch (err) {
        return "Error";
      }
    },
    scrollTop() {
      window.scroll(0, 0);
      document.getElementById("blog365").scroll(0, 0);
    },
    leave: function(el, done) {
      const isMobile = window.matchMedia("(max-width: 800px)").matches;
      anime({
        targets: el.childNodes,
        delay: (el, i) => i * (isMobile ? 0 : 50),
        duration: isMobile ? 500 : 100,
        opacity: [1, 0],
        easing: "easeInQuad",
        complete: () => {
          this.loading = false;
          this.showPagination = false;
          done();
        }
      });
    },
    beforeEnter: function(el) {
      this.scrollTop();
      Array.from(el.childNodes).map(childEl => {
        childEl.style.opacity = 0;
        childEl.style.translateY = "-25%";
      });
    },
    enter: function(el, done) {
      const isMobile = window.matchMedia("(max-width: 800px)").matches;
      anime({
        targets: el.childNodes,
        delay: (el, i) => i * (isMobile ? 0 : 100),
        duration: isMobile ? 250 : 150,
        opacity: [0, 1],
        translateY: ["25%", "0%"],
        easing: "easeOutQuad",
        complete: () => {
          this.showPagination = true;
          done();
        }
      });
    },
    async changePage(pageNum) {
      this.$router.push({ path: this.$route.path, query: { p: pageNum } });
      this.loading = true;
      return await this.fetchBlogEntries(this.$store.dispatch, pageNum);
    }
  },
  async fetch({ store, params }) {
    return await this.methods.fetchBlogEntries(store.dispatch);
  }
};
</script>

<style scoped>
.grid-365 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  grid-gap: 50px;
  padding: 2em 0;
  transition: 1s opacity ease-in-out;
}

.table-container {
  max-width: 1600px;
  height: 100%;
}

.entry img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 1em 0;
  align-self: center;
}

.entry .image-link {
  display: grid;
}

.entry {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--table-border-dark);
  transition: opacity 0.5s;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.entry h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.entry h3,
.entry h5 {
  font-weight: 200;
}

@media (max-width: 1200px) {
  .entry h3 {
    font-size: 1em;
  }
}

.page {
  transition: opacity 0.5s ease-in-out;
}
.page-leave,
.page-enter {
  opacity: 0;
}
.page-leave-active,
.page-enter-to {
  opacity: 1;
}
</style>
<style>
.entry .link {
  margin-top: 1em;
  display: inline-block;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.paginate-365 {
  padding: 0 0 2em;
  align-self: center;
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
  max-width: 30em;
  margin: 0 auto;
  font-size: 1.8em;
  position: sticky;
  bottom: 0;
  top: 100%;
}
.paginate-365 li {
  display: block;
  width: 100%;
  text-align: center;
}
.paginate-365 a {
  padding: 0 1em;
}
.paginate-365 .active {
  font-weight: bold;
}
.paginate-365 .disabled {
  pointer-events: none;
  opacity: 0.3;
  cursor: default;
}
@media (max-width: 2000px) {
  .paginate-365 {
    font-size: 1.2em;
  }
  .paginate-365 a {
    padding: 0.75em;
  }
}
@media (max-width: 600px) {
  .paginate-365 {
    font-size: 0.8em;
  }
  .paginate-365 a {
    padding: 0.5em;
  }
}
</style>
