<template>
  <transition>
    <Home class="page"/>
  </transition>
</template>

<script>
import Home from "~/components/homepage/Index";
export default {
  components: {
    Home
  }
};
</script>

<style>
.page {
  transition: opacity 0.5s ease-in-out;
}
.page-leave-active,
.page-enter-active {
  opacity: 0;
}
.page-leave-to,
.page-enter-to {
  opacity: 1;
}
</style>
