<template>
  <div class="container dark page">
    <transition @enter="enter">
      <div class="info-page" v-if="!loading">
        <img :src="info.main_image.url" class="main-image" style="opacity: 0"/>
        <main class="info-content">
          <p v-for="(about_text, index) in info.about_you" :key="index">
            {{ about_text.text }}
          </p>
          <div class="info-interview-links">
            <p>Interview Links</p>
            <ul>
              <li v-for="interview_link in info.interview_links" :key="interview_link.url">
                <a :href="interview_link.url" target="_blank" rel="noopener noreferrer">{{ interview_link.text }}</a>
              </li>
            </ul>
          </div>
        </main>
        <div class="info-images">
          <img v-for="image in info.misc_images" :src="image.url" :key="image.url" :alt="image.alt"/>
        </div>
      </div>
    </transition>
    <Social v-if="!loading" />
  </div>
</template>

<script>
import content from "~/content.json";
import Social from "~/components/homepage/Social";
import anime from "animejs";
export default {
  components: {
    Social
  },
  head () {
      return {
        title: "DM_CREATIVE_LAB | Info"
      }
  },
  data() {
    return {
      loading: true
    };
  },
  mounted() {
    this.getInfo(this.$store.dispatch).then(() => (this.loading = false));
  },
  methods: {
    async getInfo(dispatch) {
      return await dispatch("info/GET_INFO");
    },
    enter: function(el, done) {
      console.log(el.querySelector(".main-image"))
      anime({
        targets: el.querySelector(".main-image"),
        opacity: [0, 1],
        translateX: ["5%", 0],
        easing: "easeOutCubic",
        duration: 500,
        complete: done
      })
    }
  },
  computed: {
    info() {
      return this.$store.state.info.info_data;
    }
  },
  async fetch({ store, params }) {
    return {
      blogEntries: this.methods.getInfo(store.dispatch)
    };
  }
};
</script>
<style scoped>
.info-page {
  line-height: 1.6;
  margin: 0 0 0 auto;
  max-width: 70vw;
  padding: 0;
  width: 100%;
}
.info-content {
  padding: 3rem 0 5rem;
  max-width: 900px;
  color: var(--font-light);
}
.main-image {
  width: 100%;
  object-fit: cover;
  display: block;
}
.info-page p {
  margin-bottom: 2em;
}
.info-interview-links p,
.info-page a {
  color: var(--font-light);
}

.info-interview-links p {
  display: block;
  border-bottom: 1px solid var(--table-border-light);
  padding: 5rem 0 1em;
  margin-bottom: 3em;
  font-size: 16px;
}

.info-interview-links ul {
  padding-left: 0;
  list-style-type: none;
}
.info-images {
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  max-height: 95vw;
}

.info-images img {
  width: 50%;
  padding-bottom: 2em;
  padding-right: 2em;
}
.info-interview-links li {
  padding-bottom: 2em;
}
@media (max-width: 800px) {
  .info-page {
    max-width: 100%;
  }
  .info-images {
    flex-flow: column;
    padding-bottom: 2em;
    max-height: 100%;
  }
  .info-images img {
    padding: 0;
    width: 100%;
  }
  .info-content {
    padding: 3rem 3vw 5rem;
  }
}
</style>
