<template>
  <transition>
    <div class="container light page">
      <table-container :title="title" :show-back-link="$route.name === 'work-slug'" back-href="/work">
        <div style="overflow: hidden;">
          <nuxt-child :key="$route.params.id"/>
        </div>
      </table-container>
    </div>
  </transition>
</template>

<script>
import TableContainer from "~/components/shared/Table-Container";
export default {
  components: {
    TableContainer
  },
  head () {
      return {
        title: "DM_CREATIVE_LAB | Work"
      }
  },
  data() {
    return {
      title: "work"
    };
  }
};
</script>

<style scoped>
.page {
  transition: opacity 0.5s ease-in-out;
}
.page-leave-active,
.page-enter-active {
  opacity: 0;
}
.page-leave-to,
.page-enter-to {
  opacity: 1;
}
</style>
