<template>
  <ul class="details">
    <li>{{ time }}</li>
    <li><span ref="artist"></span></li>
    <li>
    <span ref="coordinates"></span>
    </li>
  </ul>
</template>

<script>
import data from "../../content.json";
import baffle from "baffle";
export default {
  data() {
    return {
      artist: "",
      time: "",
      coordinates:
        data.coordinates[Math.floor(Math.random() * data.coordinates.length)]
    };
  },
  beforeMount() {
    this.fetchRecentArtist();
    this.updateDateTime();
  },
  mounted() {
    this.animateTextChange(
      this.$refs.coordinates,
      this.$options.filters.toCoordinates(this.coordinates)
    );
    setInterval(this.updateDateTime, 1000);
    this.newCoordsInterval = setInterval(this.getNewCoordinates, 10000);
  },
  beforeDestroy() {
    clearInterval(this.newCoordsInterval);
  },
  filters: {
    // Converts an array of 2 values to a coordinates string
    toCoordinates: function(arr) {
      if (arr.length != 2) return arr;
      return `${arr[0]}° N, ${arr[1]}° W`;
    },
    // Appends a little note emoji to the start of a string
    prependNoteEmoji: function(string) {
      if (string) {
        // 0x266b = ♫
        return `${String.fromCodePoint(0x266b)} ${string}`;
      }
    }
  },
  methods: {
    // Call last.fm's api and get last listened to artist
    fetchRecentArtist: function() {
      const key = process.env.LAST_FM_KEY;
      const username = process.env.LAST_FM_USER;
      const request = new Request(
        `https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=${username}&api_key=${key}&format=json`
      );
      fetch(request)
        .then(res => res.json())
        .then(data => {
          this.artist = data.recenttracks.track[0].artist["#text"];
          this.animateTextChange(
            this.$refs.artist,
            this.$options.filters.prependNoteEmoji(this.artist)
          );
        })
        .catch(error => (this.artist = "404: Artist Not Found"));
    },
    updateDateTime: function() {
      // Function to pad out them values
      const pad = value => String(value).padStart(2, 0);
      // Get the current time
      const now = new Date();
      const hour = pad(now.getHours());
      const minutes = pad(now.getMinutes());
      const seconds = pad(now.getSeconds());
      // Assign the current time
      this.time = `${hour}:${minutes}:${seconds}`;
    },
    // Get a new coordinate different from the last
    getNewCoordinates: function() {
      const array = data.coordinates;
      let newCoordinates;
      if (array.length == 0) {
        return;
      } else if (array.length == 1) {
        newCoordinates = array[0];
      } else {
        let num = 0;
        do {
          num = Math.floor(Math.random() * array.length);
        } while (
          JSON.stringify(array[num]) === JSON.stringify(this.coordinates)
        );
        newCoordinates = array[num];
      }
      this.animateNewCoordinates(newCoordinates);
    },
    // Animate that bish
    animateNewCoordinates: function(newCoords) {
      this.animateTextChange(
        this.$refs.coordinates,
        this.$options.filters.toCoordinates(newCoords)
      );
      this.coordinates = newCoords;
    },
    animateTextChange: function(ref, text) {
      baffle(ref)
        .start()
        .text(currentText => text)
        .set({
          characters: "/▓░█▓ _><",
          speed: 150
        })
        .reveal(1000);
    }
  }
};
</script>

<style scoped>
.details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: var(--font-light);
  list-style-type: none;
  text-align: right;
  padding: 0 2em 0 0;
}

.details li:not(:first-child) {
  padding-top: 5.5rem;
}

.details li {
  font-size: 2.5rem;
}

.details li:empty:before,
.details span:empty:before {
  content: "\200b";
}

@media only screen and (max-width: 800px) {
  .details li {
    font-size: 2rem;
  }

  .details li:not(:first-child) {
    padding-top: 2.5rem;
  }
}
</style>
