<template>
  <div class="griddle-me-that">
    <Details />
    <Nav class="hide-me-when-big" />
    <Social />
  </div>
</template>

<script>
import Nav from "~/components/shared/Nav";
import Details from "./Details";
import Social from "./Social";
export default {
  components: {
    Nav,
    Details,
    Social
  }
};
</script>

<style>
.griddle-me-that {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-rows: 1fr auto auto;
  background-color: var(--background-dark);
}

.hide-me-when-big {
  display: none;
}

@media only screen and (max-width: 800px) {
  .hide-me-when-big {
    display: block;
  }
}
</style>
