<template>
  <footer class="dark">
    <ul class="strikethru-ul inline-ul">
      <li v-for="network in networks" :key="network.name">
        <a :href="network.url" :title="network.alt" target="_blank" rel="noopener noreferrer">
          {{ network.name.toLowerCase() }}
        </a>
      </li>
    </ul>
  </footer>
</template>

<script>
import data from "../../content.json";
export default {
  data() {
    return {
      networks: data["social-networks"]
    };
  }
};
</script>

<style scoped>
.inline-ul {
  display: flex;
  padding: 20px;
}

.inline-ul li:not(:first-child):not(:last-child) {
  padding: 0 1.5em;
}

@media only screen and (max-width: 800px) {
  .inline-ul {
    display: block;
  }

  .inline-ul li:not(:first-child):not(:last-child) {
    padding: 0;
  }
}
</style>
